/* src/index.css */
html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e0dbdb;
}

/* ================================================ */
/* This styles your navigation wrapper */
/* ================================================ */

nav.nav-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 70px;
  font-size: 20px;
  background-color: #000000;
}

.nav-wrapper:before {
  content: '';
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px; /* Width of the light effect */
  height: 160px; /* Height of the light effect */
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 70%, transparent 100%);
  border-radius: 50%;
  filter: blur(10px);
  box-shadow: 0 0 90px 40px #00fffc; /* Adjust the size and color of the glow effect */
  z-index: 1; /* Ensure it's above the nav content */
  pointer-events: none;
}

/* This styles the content within the nav, centers it horizontally */
nav .nav-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding: 0 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* This styles the list within the nav */
nav .list-styled {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

/* Style for each list item */
nav .list-styled li {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for anchor tags within each list item */
nav .list-styled li a {
  color: white;
  cursor: pointer;
  padding: 0px;
  font-size: inherit;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
}

/* Dynamic underline element */
nav .nav-content .underline {
  position: absolute;
  height: 2px; /* Thickness of the underline */
  background-color: #00fffc; /* Color of the underline */
  bottom: 10px; /* Position at the bottom of nav-content */
  left: 0;
  width: 0; /* Controlled by JavaScript */
  transition: left 0.3s, width 0.3s; /* Smooth transition for movement and width change */
  display: none;
}

/* Change font color on hover */
nav .list-styled li a:hover {
  color: #00fffc;
}

/* ================================================ */
/* HomeSection.css */
/* ================================================ */

.home-section {
  position: relative; /* Establish relative positioning for child absolute elements */
  color: #00b4d8;
  background-color: #000000;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  text-align: left;
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Align items to the start of the container */
}

.content-wrapper {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  justify-content: center; /* Center the children horizontally */
  align-items: center; /* Center the children vertically */
  width: 100%;
  max-width: 1200px; /* Or whatever maximum width you prefer */
}

.profile-image {
  position: absolute; /* Absolute positioning */
  top: 70%; /* Align vertically */
  right: 50px; /* Distance from the right */
  transform: translateY(-50%); /* Center vertically relative to the container */
  max-width: 200px; /* Adjust width as needed */
  max-height: 2000px; /* Adjust height as needed */
  border-radius: 50%;
}

.profile-im {
  position: absolute;
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height to maintain aspect ratio */
  border-radius: 50%;
  object-fit: cover;
  margin-top: 8%;
  margin-right: 50%; /* Adjust this value to add more space between image and text */
  border: 3px solid white;
  box-shadow: 0 0 10px 5px #00fffc;
}

/* HomeSection.css */
.text-wrapper {
  /* position: absolute; */
  left: 20%;
  max-width: 600px; /* Maximum width for the text block */
  padding-left: 20px; /* Ensures text doesn't overlap the image */
  margin-top: 10%;
  font-family: 'Arial', sans-serif; /* Change the font family as needed */
}

.text-wrapper pre {
  margin: 0; /* Removes default margin */
  font-size: 35px; /* Adjust the font size as needed */
  color: #FFFFFF; /* Adjust text color if needed */
}

.interactive-sphere-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Adjust as needed */
}

.three-canvas {
  max-width: 50%; /* Adjust as needed for scaling */
  max-height: 100%; /* Adjust as needed for scaling */
  margin-top: 20px;
}

.name-text {
  font-size: 48px; /* Adjust to match the size in your design */
  font-weight: bold;
  line-height: 1.3;
  color: #ffffff; /* Example purple color, adjust as needed */
}

.special-text {
  font-family: 'Arial', sans-serif; /* Example: Change as needed */
  font-size: 20px; /* Example: Change as needed */
  color: #00fffc; /* Example: Change as needed */
  line-height: 0.1;
  /* Add any other specific styling you want for the special text */
}

.blinking-cursor {
  font-weight: 100;
  font-size: 24px; /* Adjust the cursor size if needed */
  color: white;
  animation: blinkingCursor 0.8s step-end infinite;
}

@keyframes blinkingCursor {
  from { opacity: 1; }
  to { opacity: 0; }
}

.social-links {
  z-index: 10;
  display: flex; /* Aligns children inline horizontally */
  justify-content: center; /* Centers children along the main axis */
  align-items: center; /* Centers children along the cross axis */
  gap: 20px; /* Adjust the gap between the icons */
  margin-top: 2%; /* Space between text and icons */
  margin-right: 25%;
}

/* Style for the individual social icons */
.social-icon {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  transition: transform 0.3s ease; /* Smooth transform effect on hover */
  cursor: pointer !important;
}

.social-icon:hover {
  transform: scale(1.5) !important; /* Slightly enlarge icons on hover */
}

.text-and-icons-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  width: 100%;
  margin-top: 80px;
}

/* ================================================ */
/* skill section */
/* ================================================ */
.skills-section {
  min-height: 100vh; /* Ensures the section takes at least the height of the viewport */
  background-color: #000000; /* Light grey background */
  color: #333; /* Dark text color for contrast */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks child elements vertically */
  justify-content: flex-start; /* Aligns children to the start of the main axis */
  align-items: center; /* Centers children on the cross axis */
  padding: 20px; /* Adds some padding around the content */
  text-align: center; /* Centers the text for all children, including the heading */
}

.skills-heading {
  color: #e0dbdb;
  font-size: 2.8rem;
  font-family: 'Consolas', 'Courier New', monospace;
  animation: textFadeIn 4s ease-out; /* 4 seconds animation */
  width: 100%; /* Ensures the heading is full width */
}

/* Parent container for Icons Section and Image Container */
.content-container {

  display: flex;
  flex-direction: row; /* Arrange children side by side */
  justify-content: center; /* Center the children horizontally */
  align-items: flex-start; /* Align children to the top of the container */
  margin-top: 4rem; /* Adds space between the heading and the content */
}

.icons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates a 5x5 grid with 5 columns */
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
}

.icon img {
  width: 80px; /* Set the desired icon width */
  height: 80px; /* Set the desired icon height */
  max-width: 100%; /* Ensures the icon fits within the grid cell */
}

.icon p {
  text-align: center; /* Centers the text below the icon */
  margin-top: 8px; /* Adds space between the icon and the label */
  color: #e0dbdb;
}

.image-container {
  max-width: 40%; /* Adjust the size as needed */
}

.developer-tagline {
  color: #e0dbdb; /* Replace #HEXCOLOR with the hex code of the color you want */
  padding-top: 8%;
  padding-right: 50%;
  font-size: 1.1rem;
  /* Add other styles as needed, such as font-size, font-weight, etc. */
}


.image-container img {
  padding-right: 95%;
  width: 50%; /* Ensures the image is responsive and fills the container */
  height: auto; /* Maintains the aspect ratio of the image */
}

/* ================================================ */
/* work section */
/* ================================================ */
.work-section {
  min-height: 100vh; /* Ensures the section takes at least the height of the viewport */
  background-color: #fbfbfb; /* Light grey background */
  color: #333; /* Dark text color for contrast */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks child elements vertically */
  justify-content: flex-start; /* Aligns children to the start of the main axis */
  align-items: center; /* Centers children on the cross axis */
  padding: 20px; /* Adds some padding around the content */
  text-align: center; /* Centers the text for all children, including the heading */
}

.work-heading{
  color: #000000;
  font-size: 2.8rem;
  font-family: 'Consolas', 'Courier New', monospace;
  width: 100%; /* Ensures the heading is full width */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tagline{
  font-size: 1.4rem;
  color: #515151;
  padding-bottom: 5%;

}


.image1-container {
  max-width: 500px; /* Adjust the size as needed */
  margin-right: 5%;
  margin-left: 10%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), /* Shadow for the glow effect */
              0 0 20px rgba(0, 0, 0, 0.1),
              0 0 25px rgba(0, 0, 0, 0.05),
              0 0 30px rgba(81, 203, 238, 1), /* Blue glow */
              0 0 35px rgba(81, 203, 238, 0.8),
              0 0 40px rgba(81, 203, 238, 0.6),
              0 0 45px rgba(81, 203, 238, 0.4),
              0 0 50px rgba(81, 203, 238, 0.2);
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
  cursor: pointer;
}


.image1-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.text-heading{
  color: #000000;
  font-size: 1.9rem;
  font-family: 'Consolas', 'Courier New', monospace;
  padding-right: 10%;
  padding-bottom: 2%;
  font-weight: bold;
}

.text {
  font-family: 'YourParagraphFont', sans-serif; /* Replace with the actual font name */
  font-size: 1.1rem; /* Adjust size as needed */
  color: #333; /* Adjust color as needed */
  padding-right: 10%;
  line-height: 1.8;
  /* Other styles */
}

/* ================================================== */
/* ================================================= */

/* This part styles the scrollbar track */
::-webkit-scrollbar {
  width: 2px; /* Modify as needed */
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; /* Here you set the track color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; /* Here you set the thumb color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
