/* src/index.css */
html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e0dbdb;
}

/* ================================================ */
/* Navigation */
/* ================================================ */

nav.nav-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 70px;
  font-size: 20px;
  background-color: #000000;
}

.nav-wrapper:before {
  content: '';
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px; 
  height: 160px; 
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 70%, transparent 100%);
  border-radius: 50%;
  filter: blur(10px);
  box-shadow: 0 0 90px 40px #3CCF91; 
  z-index: 1;
  pointer-events: none;
}

nav .nav-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding: 0 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav .list-styled {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

nav .list-styled li {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .list-styled li a {
  color: white;
  cursor: pointer;
  padding: 0px;
  font-size: inherit;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
}

nav .nav-content .underline {
  position: absolute;
  height: 2px; 
  background-color: #3CCF91; 
  bottom: 10px; 
  left: 0;
  width: 0; 
  transition: left 0.3s, width 0.3s; 
  display: none;
}

nav .list-styled li a:hover {
  color: #3CCF91;
}

@media screen and (max-width: 768px) {
  nav.nav-wrapper {
    flex-direction: column;
    height: auto;
  }

  .nav-content {
    flex-direction: column;
  }

  .list-styled {
    flex-direction: column;
    display: none; 
  }

  .list-styled.show {
    display: flex; 
  }

  .hamburger-menu {
    display: block; 
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
  }
}

@media screen and (min-width: 769px) {
  .hamburger-menu {
    display: none;
  }
}

/* ================================================ */
/* HomeSection.css */
/* ================================================ */

.home-section {
  position: relative; 
  color: #3CCF91;
  background-color: #000000;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  text-align: left;
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}


.content-wrapper {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

.profile-container {
  align-self: center; 
  max-width: 50%;
  padding-left: 11%;
  padding-bottom: 2.5%;

}

.text-and-icons-container {
  display: flex;
  flex-direction: column; 
  align-items: start; 
  justify-content: center;
  width: 100%;
  padding-left: 13.5%;
  margin-top: 80px;
}

.social-icon {
  width: 40px; 
  height: 40px; 
  padding-left: 50%;
  transition: transform 0.3s ease; 
  cursor: pointer !important;
}

.profile-im {
  position: absolute;
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 0 10px 5px #3CCF91;
}

.text-wrapper {
  left: 20%;
  max-width: 600px; 
  padding-left: 20px; 
  margin-top: 10%;
  font-family: 'Arial', sans-serif; 
}

.text-wrapper pre {
  margin: 0; 
  font-size: 35px; 
  color: #FFFFFF;
}

.interactive-sphere-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; 
}

.three-canvas {
  max-width: 50%;
  max-height: 100%;
  margin-top: 20px;
}

.intro-text{
  font: 40px;
  color: #3CCF91;
  font-weight: bold;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.name-text {
  font-size: 70px; 
  font-weight: bold;
  line-height: 1.3;
  color: #ffffff; 
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.special-text {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Example: Change as needed */
  font-size: 20px; 
  color: #8F9094; 
  line-height: 0.08;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 24px; 
  color: white;
  animation: blinkingCursor 0.8s step-end infinite;
}

@keyframes blinkingCursor {
  from { opacity: 1; }
  to { opacity: 0; }
}

.social-links {
  z-index: 10;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 20px;
  margin-top: 2%;
  margin-right: 25%;
}


.social-icon:hover {
  transform: scale(1.5) !important; 
}


/* ================================================ */
/* skill section */
/* ================================================ */
.skills-section {
  min-height: 110vh; 
  background-color: #000000; 
  color: #333; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  padding: 20px; 
  text-align: center; 
}

.skills-heading {
  color: #e0dbdb;
  font-size: 2.8rem;
  font-family: 'Consolas', 'Courier New', monospace;
  width: 100%; 
}

.content-container {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: flex-start; 
  margin-top: 4rem; 
}

.icons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
}

.icon img {
  width: 80px; 
  height: 80px; 
  max-width: 100%; 
  padding-bottom: 2%;
}

.icon p {
  text-align: center; 
  margin-top: 8px;
  color: #e0dbdb;
}

.image-container {
  position: relative;  
  max-width: 50%; 
  width: 100%; 
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img.window {
  position: absolute; 
  top: 0;
  width: 90%; 
  padding-right: 20%;
  height: 100%; 
  height: 100%; 
  z-index: 1; 

}

.image-container img.computer {
  padding-top: 10%;
  padding-bottom: 5%;
  position: relative;
  z-index: 2; 
  width: 50%;
  padding-right: 20%; 
}

.developer-tagline {
  position: absolute; 
  color: #8F9094; 
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left; 
  width: 80%; 
  left: 0%; 
  z-index: 3; 
  padding-top: 95%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.highlighted {
  color: #3CCF91; 
}



/* ================================================ */
/* work section */
/* ================================================ */
.work-section {
  min-height: 100vh; /* Ensures the section takes at least the height of the viewport */
  background-color: #000000; /* Light grey background */
  color: #333; /* Dark text color for contrast */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks child elements vertically */
  justify-content: flex-start; /* Aligns children to the start of the main axis */
  align-items: center; /* Centers children on the cross axis */
  padding: 20px; /* Adds some padding around the content */
  text-align: center; /* Centers the text for all children, including the heading */
}

.work-heading{
  color: white;
  font-size: 2.8rem;
  font-family: 'Consolas', 'Courier New', monospace;
  width: 100%; /* Ensures the heading is full width */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tagline{
  font-size: 1.4rem;
  color: #8F9094;
  padding-bottom: 5%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* First image and text section */

.image1-container {
  max-width: 500px; /* Adjust the size as needed */
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), /* Shadow for the glow effect */
            0 0 20px rgba(0, 0, 0, 0.1),
            0 0 25px rgba(0, 0, 0, 0.05),
            0 0 30px rgba(60, 207, 145, 1), /* Custom green glow */
            0 0 35px rgba(60, 207, 145, 0.8),
            0 0 40px rgba(60, 207, 145, 0.6),
            0 0 45px rgba(60, 207, 145, 0.4),
            0 0 50px rgba(60, 207, 145, 0.2);
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
  cursor: pointer;
}


.image1-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

/* 2nd image and text section */
.image2-container {
  flex-direction: column;
  justify-content: start;
  max-width: 500px; /* Adjust the size as needed */
  margin-right: 5%;
  margin-left: 10%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), /* Shadow for the glow effect */
            0 0 20px rgba(0, 0, 0, 0.1),
            0 0 25px rgba(0, 0, 0, 0.05),
            0 0 30px rgba(60, 207, 145, 1), /* Custom green glow */
            0 0 35px rgba(60, 207, 145, 0.8),
            0 0 40px rgba(60, 207, 145, 0.6),
            0 0 45px rgba(60, 207, 145, 0.4),
            0 0 50px rgba(60, 207, 145, 0.2);
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
  cursor: pointer;
}


.image2-container img {
  min-height: 35vh;
  min-width: 35vh;
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.text2 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Replace with the actual font name */
  font-size: 1.1rem; /* Adjust size as needed */
  color: #8F9094; /* Adjust color as needed */
  padding-left: 5%;
  padding-right: 2%;
  line-height: 1.8;
  text-align: left;
  /* Other styles */
}

/* 3rd image and text section */
.image3-container {
  flex-direction: column;
  justify-content: start;
  max-width: 500px; /* Adjust the size as needed */
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), /* Shadow for the glow effect */
            0 0 20px rgba(0, 0, 0, 0.1),
            0 0 25px rgba(0, 0, 0, 0.05),
            0 0 30px rgba(60, 207, 145, 1), /* Custom green glow */
            0 0 35px rgba(60, 207, 145, 0.8),
            0 0 40px rgba(60, 207, 145, 0.6),
            0 0 45px rgba(60, 207, 145, 0.4),
            0 0 50px rgba(60, 207, 145, 0.2);
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
  cursor: pointer;
}


.image3-container img {
  min-height: 35vh;
  min-width: 35vh;
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.text3 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Replace with the actual font name */
  font-size: 1.1rem; /* Adjust size as needed */
  color: #8F9094; /* Adjust color as needed */
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.8;
  text-align: left;
  /* Other styles */
}

/* 4th image and text section */
.image4-container {
  flex-direction: column;
  justify-content: start;
  max-width: 300px; /* Adjust the size as needed */
  margin-right: 5%;
  margin-left: 10%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), /* Shadow for the glow effect */
            0 0 20px rgba(0, 0, 0, 0.1),
            0 0 25px rgba(0, 0, 0, 0.05),
            0 0 30px rgba(60, 207, 145, 1), /* Custom green glow */
            0 0 35px rgba(60, 207, 145, 0.8),
            0 0 40px rgba(60, 207, 145, 0.6),
            0 0 45px rgba(60, 207, 145, 0.4),
            0 0 50px rgba(60, 207, 145, 0.2);
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
  cursor: pointer;
}


.image4-container img {
  min-height: 10vh;
  min-width: 10vh;
  width: 100%; /* Make the image fill the container */
  height: 50%; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.text4 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Replace with the actual font name */
  font-size: 1.1rem; /* Adjust size as needed */
  color: #8F9094; /* Adjust color as needed */
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.8;
  text-align: left;
  /* Other styles */
}
.text-heading{
  color: white;
  font-size: 1.9rem;
  font-family: 'Consolas', 'Courier New', monospace;
  padding-right: 10%;
  padding-bottom: 2%;
  font-weight: bold;
}

.text {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Replace with the actual font name */
  font-size: 1.1rem; /* Adjust size as needed */
  color: #8F9094; /* Adjust color as needed */
  padding-right: 10%;
  line-height: 1.8;
  text-align: left;
  /* Other styles */
}


.content-row {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: start; /* Align items to the start of the cross axis */
  margin-bottom: 20px; /* Add space between the rows */
  padding-bottom: 10%;
}

/* Ensure the rest of your CSS is compatible with these changes. */

/* ================================================== */
/* ================================================= */

/* This part styles the scrollbar track */
::-webkit-scrollbar {
  width: 2px; /* Modify as needed */
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; /* Here you set the track color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; /* Here you set the thumb color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}


/* ================================================ */
/* Contact section */
/* ================================================ */

.contact-container {
  min-height: 50vh;
  background-color: #000000; /* Light grey background, adjust if needed */
  color: #333; /* Dark grey text color, adjust if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.contact-container h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: white; /* Dark grey color, adjust if needed */
}

.contact-container p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 2%;
  color: #3CCF91; /* Dark grey color, adjust if needed */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.contact-form {
  width: 100%;
  max-width: 500px; /* Adjust width as necessary */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit; /* Inherit font from body */
}

.contact-form textarea {
  height: 150px; /* Adjust height as necessary */
  border-color: #3CCF91; /* Blue border color for the textarea */
}

.contact-form button {
  width: 105%;
  padding: 10px;
  background-color: #6C757D; /* Dark grey background for the button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit; /* Inherit font from body */
}

.contact-form button:hover {
  background-color: #3CCF91; /* Slightly darker grey on hover */
}

.contact-footer {
  width: 100%;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom */
  padding: 10px 0;
  padding-top: 3%;
  color: #757575; /* Grey text color for contrast */
  background-color: #000000; /* Black background */
  font-size: 1rem;
}

.social-links1 {
  z-index: 10;
  display: flex; /* Aligns children inline horizontally */
  justify-content: center; /* Centers children along the main axis */
  align-items: center; /* Centers children along the cross axis */
  gap: 20px; /* Adjust the gap between the icons */
  margin-top: 2%; /* Space between text and icons */
  margin-right: 3%;
}

.social-icon1 {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  padding-left: 50%;
  transition: transform 0.3s ease; /* Smooth transform effect on hover */
  cursor: pointer !important;
}